.popup-profile__form {
  margin-top: 60px;
}

.popup__valid-namename {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #FF0000;
}

.popup__valid-aboutabout {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color: #FF0000;
}